html {
    font-family: sans-serif;
}

.timer {
    font-size: 20vw;
    align-self: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    align-self: center;
    height: max-content;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hide {
    display: none !important;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    width: min-content;
}

#hourInput, #minuteInput, #secondInput {
    width: 3.5vw;
    font-size: 1vw;
}

.rowContainer {
    display: flex;
    flex-direction: row;
}

#modeSwitch {
    color: darkblue;
    text-decoration: underline;
}

#modeSwitch:hover {
    color: darkorange;
    opacity: 0.8;
    text-decoration: underline;
}

.red {
    color: red;
}

.padd {
    padding: 1vw;
}

#startTimer {
    font-size: 0.9vw;
    width: 3.5vw;
    margin-top: 0.25vw;
    text-align: center;
}

#resetTimer {
    font-size: 0.9vw;
    width: 4vw;
    margin-top: 0.25vw;
    text-align: center;
}

label {
    font-size: 1vw;
}

.center {
    display:flex;
    align-items: center;
    justify-content: center;
}

html {
    font-size: 14px;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
}

body {
    margin-bottom: 60px;
    color: #333;
    font-size: 18px;
    font-weight: 500;
    background-color: #e0ffff;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 3vw;
    line-height: 0.5vw;
    letter-spacing: 1px;
    font-weight: 700;
}

h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 2vw;
    line-height: 2vw;
    font-weight: 700;
}

h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 26px;
    line-height: 33px;
    font-weight: 700;
}

h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
}

h5 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
}

h6 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 19px;
    font-weight: 700;
}

h7 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
}

footer {
    background-color: #e0ffff;
}

.serious {
    font-family: Calibri, serif !important;
    font-optical-sizing: auto;
    font-style: normal;
}

.silly {
    font-family: 'Comic Sans MS', sans-serif !important;
    font-optical-sizing: auto;
    font-style: normal;
}
